.date-container-einfo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-right-icon {
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
	z-index: 999;
}

.title-container-editing {
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-btn {
	width: 12em;
}

.del-btn {
	margin-bottom: 0.5rem;
	background-color: transparent;
	color: #ffdfdf;
	font-weight: bold;
	border-width: 0.125rem;
	border-radius: 100%;
	border-color: #ffdfdf;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
}

.filler-div-non-editing {
	width: 9em;
}

.filler-div-editing {
	width: 2em;
}

.save-cancel-btns {
	margin: 1em 0em 4em 0em;
}

#workout-table td {
	border-top: 1.5px solid rgba(240, 190, 210, 1);
	color: white;
}

#workout-text {
	text-align: center;
}

.workout-data {
	text-align: center;
}

@media screen and (max-width: 770px) {
	#workout-edit-table {
		display: block;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#workout-edit-table td {
		display: inline-block;
		margin-left: 83%;
	}

	.edit-workout-row {
		display: flex;
		flex-direction: column;
	}

	.del-btn {
		border-radius: 0.25rem;
		border-width: 1px;
		padding: 0.5rem 2rem;
		font-weight: normal;
		margin-bottom: 2rem;
		margin-left: 140%;
	}
}

@media screen and (max-width: 550px) {
	.date-container-einfo {
		padding-top: 1rem;
	}

	#workout-table {
		display: block;
	}

	#workout-table td {
		display: inline-block;
		border: none;
		color: white;
	}
	.filler-div-editing {
		display: none;
	}
	.title-container-editing {
		flex-direction: column;
	}
	.add-btn {
		margin-top: 1em;
	}

	#workout-text {
		width: 100vw;
		border-top: 2px solid rgba(240, 190, 210, 1) !important;
		border-bottom: 1px solid white !important;
		padding-left: 1rem;
		text-align: left;
	}

	.workout-data {
		padding-left: 1rem;
	}

	#workout-edit-table td {
		margin-left: 25%;
	}
	.del-btn {
		margin-left: 30%;
	}
}

@media screen and (max-width: 400px) {
	#workout-edit-table td {
		margin-left: 18%;
	}
	.del-btn {
		margin-left: 27%;
	}
}

@media screen and (max-width: 325px) {
	#workout-edit-table td {
		margin-left: 8%;
	}
	.del-btn {
		margin-left: 24%;
	}
}
