#date {
	margin-left: 0px;
	margin-right: 0px;
	width: 12rem;
}

.title-card {
	height: 75%;
}

#date h1 {
	height: 25%;
}

.date-container {
		width: 80%;
	}

@media (max-width: 1680px) {
	.date-container {
		width: 90%;
	}
}

@media (max-width: 1495px) {
	#date {
		width: 11rem;
	}
}

@media (max-width: 1370px) {
	#date {
		width: 10rem;
	}
}

@media (max-width: 1250px) {
	#date {
		width: 9rem;
	}
}

@media (max-width: 1120px) {
	#date {
		width: 8rem;
	}
}
/*
@media (max-width: 1400px) {
	#date {
	 	width: 9rem;
	 }
}

@media (max-width: 1400px) {
	#date {
	 	width: 8rem;
	 }
}*/

.pink-border {
	border-color: rgba(240,190,210,1);
}

.pink-background {
	background-color: rgba(240,190,210,1);
}