.App {
  height: 100vh;
  display: flex;
  color: rgba(240,190,210,1);
  flex-direction: column;
  z-index: 1;
}

.particles {
	position: fixed;
	top: 0;
  right: 0;
  bottom: 0;
	left: 0;
  z-index: -1;
}

.loading-msg {
  position: fixed;
  text-align: center;
  top: 40%;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}