.nutrition-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-foods {
  border: 1px solid rgba(240, 190, 210, 1);
  border-radius: 0.25rem;
  width: 90%;
  max-width: 900px;
  padding: 2rem;
}

.nutrient-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.food-input {
  min-width: 3em;
}

.food-input-cal {
  min-width: 4em;
}

.food-input-submit {
  min-width: 8em;
}

.nutrient-container-sm {
  text-align: center;
  margin-right: 4%;
  width: 20%;
  min-width: 3em;
}

.nutrient-container-md {
  text-align: center;
  width: 20%;
  margin-right: 4%;
  min-width: 4em;
}

.nutrient-container-l {
  text-align: center;
  width: 100%;
}

.search-btn {
  margin-top: 0.15rem;
  color: rgba(165, 255, 165, 1);
  border-color: rgba(165, 255, 165, 1);
}

@media (max-width: 1748px) {
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1500px) {
  .ml-shrink {
    margin-left: auto !important;
    margin-right: auto;
  }
  .search-field {
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
}

.pending-container {
  background-color: white;
  border: 1px solid transparent;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.results-container {
  background-color: white;
  border: 1px solid transparent;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.result {
  color: black;
  text-align: left;
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.error {
  color: black;
}

@media screen and (max-width: 770px) {
  .search-container {
    flex-direction: row-reverse !important;
    justify-content: flex-start;
    align-items: center;
  }
  .search-btn {
    margin-bottom: 0.25em;
    margin-left: -2em !important;
  }
}

@media screen and (max-width: 550px) {
  .form-foods {
    border: none;
    width: 100%;
    padding: 1rem;
  }

  .form-foods h1 {
    font-size: 1.5em;
  }
}

@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 1s infinite linear;
  animation: lds-gear 1s infinite linear;
  position: relative;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 192px;
  background: #7fbb42;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 30px !important;
  height: 30px !important;
  -webkit-transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
  transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
}
